<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">DT GYM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/goitap">Gói tập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/baitap">Bài Tập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quydinh">Quy Định</a>
                </li>
            </ul>

            {%if current_user.is_authenticated%}

            <form class="d-flex">
                <div class="d-flex justify-content-center align-items-center text-white">{{current_user.name}}</div>
                <img src="{{current_user.avatar}}" width="50">
                <a href="/logout" class="btn btn-primary">Đăng Xuất</a>
            </form>
            {%else%}
            <form class="d-flex">
                <a href="/login" class="btn btn-primary">Đăng Nhập</a>
            </form>
            {%endif%}

        </div>
    </div>
</nav>