{%extends 'layout/base.html'%}

{%block conten%}
{% if err_msg %}
<div class="alert alert-danger">{{err_msg}}</div>
{% endif %}
<form  method="post">
    <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <button type="submit" class="btn btn-primary">Đăng Nhập</button>
    <a href="#" class="btn btn-primary">Đăng Ký</a>
</form>
{%endblock%}