{% extends 'layout/base.html' %}
{% block conten %}

<h4 class="mt-3 text-center">Đăng ký tài khoản</h4>

{% if err_msg %}
<div class="alert alert-danger">{{ err_msg }}</div>
{% endif %}

<form method="post" class="mx-auto" style="max-width: 500px;">
    <div class="mb-3">
        <label>Họ tên</label>
        <input type="text" name="name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Giới tính</label>
        <select name="gioitinh" class="form-control" required>
            <option value="">-- Chọn --</option>
            <option value="Nam">Nam</option>
            <option value="Nữ">Nữ</option>
        </select>
    </div>

    <div class="mb-3">
        <label>SĐT</label>
        <input type="text" name="sdt" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input type="text" name="email" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Mật khẩu</label>
        <input type="password" name="pswd" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Chọn gói tập</label>
        <select name="goitap" class="form-control" required>
            <option value="">-- Chọn gói tập --</option>
            {% for g in goitaps %}
            <option value="{{ g.id }}">{{ g.name }} - {{ g.giagoitap }} VNĐ</option>
            {% endfor %}
        </select>
    </div>

    <button class="btn btn-primary w-100">Đăng ký</button>
</form>

{% endblock %}